
@model Proyecto.Models.ServicioModel
@{ 
    ViewBag.Title = "Detalle";
}


    <div style="border-color=black" >
        <li>@Html.ActionLink("Volver atras", "Index", "Servicio")</li>
        <div>
            <h2 align="center"> @Html.DisplayFor(model => model.Nombre_servicio)</h2>
        </div>
        <div align="center">
            <p>
                @Html.DisplayFor(model => model.Imagen)  
            </p>
            
            <img src="~/Img/@Html.DisplayFor(model => model.Imagen)" width="350" height="300"/>
        </div>  
        <div>
            <p align="center">@Html.DisplayFor(model => model.descripcion_servicio)</p>
        </div>
    </div>


