
@model IEnumerable<Proyecto.Models.ServicioModel>
@{
    ViewBag.Title = "Servicio";
}

<h2>Servicio</h2>

<table class="table">
    

    @foreach (var item in Model)
    {
        <tr>
            <td class="fila">
                <h4 class="nombre-servicio">@Html.DisplayFor(modelItem => item.Nombre_servicio)</h4>
                <p>
                    @Html.ActionLink("Detalle", "Detalle", new { id = item.Servicio }, new { @class = "btn-detalle" })
                </p>
            </td>
        </tr>
    }
</table>

@Styles.Render("~/Content/stylesservices.css")




