@{
    ViewBag.Title = "Contacto";
}

<br />
<br />
<br />
<address margin-top="30px">
    <a href="#"><strong>Dirección: </strong>Carrera 22 # 58-66<br /></a><br />
    <a href="#"><strong>Teléfono:</strong> +57 300 7749537<br /></a><br />
                                                                    <a href="https://www.facebook.com/Mi-Mejor-Amigo-112872587019688/?modal=admin_todo_tour"><strong>Facebook:</strong> https://www.facebook.com/Mi-Mejor-Amigo-112872587019688/?modal=admin_todo_tour<br /></a><br />
                                                     <a href="https://www.instagram.com/mmapetservices/"><strong>Instagram:</strong> https://www.instagram.com/mmapetservices/<br /></a><br />
    <a href="mailto:Support@example.com"><strong>Soporte:</strong>soporte@mimejoramigo.com</a><br />


</address>